<!-- <div class="banner">
<h1>Stupid coaching</h1>
</div> -->
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->



<form action="/answer">
  <input type="text" name="question" placeholder="What question?">
  <input type="submit" value="Ask!">
</form>


